body {
    margin: 0;
    padding: 0;
    background-color: RGB(244, 244, 244);
    font-family: Arial, Helvetica, SansSerif;
    color: rgb(116, 116, 116);
}

a, a:hover, a:visited {
    text-decoration: none;
    color: rgb(116, 116, 116);
}

.header {
    text-align: center;
    margin: 20px;
    font-size: 4em;
    color: rgb(234, 215, 215);
}

.footer {
    position: relative;
    width: 100vw;
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    color: rgb(116, 116, 116);
}