.task {
    display: flex;
    align-items:center;
    background-color: white;
    position: relative;
}

.task input {
    height: 40px;
    background: none;
    text-align: center;
    width: 40px;
    border: none;
    -webkit-appearance: none;
    appearance: none;
}

.task input:checked:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.task input:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.task .name {
    margin: 0;
    font-size: 1.5em;
    color: #4d4d4d;
    padding: 20px;
}

.task .name.checked {
    color: #d9d9d9;
    text-decoration: line-through;
}

.task:hover .remove {
    display: block;
}

.task .remove {
    position: absolute;
    right: 10px;
    display: none;
    cursor: pointer;
}