button:focus, input:focus {
    outline: none;
}

.todolist .top {
    display: flex;
}

.todolist .top button {
    width: 47px;
    border: 0;
    background-color: white;
    cursor: pointer;
    transform: rotate(90deg);
}

.todolist .top button:before {
    content: "❯";
    color: rgb(230, 230, 230);
    font-size: 1.5em;
}

.todolist .top input {
    border: 0;
    padding: 0;
    height: 45px;
    width: 100%;
    font-size: 1.3em;
}

.todolist .top input::placeholder {
    color: rgb(215, 215, 215);
}

.todolist .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.todolist .bottom .info {
    color: #777;
    padding: 10px 15px;
    font-size: .8em;
}


.todolist .bottom .tabs {
    padding: 10px 15px;
}
.todolist .bottom .tabs button {
    background-color: transparent;
    border: 1px solid rgba(175, 47, 47, 0.2);
    border-radius: 3px;
    padding: 5px;
    margin: 0 5px;
    color: #777;
    cursor: pointer;
}

.todolist .bottom .tabs button:hover, .todolist .bottom .tabs button.active {
    background-color: rgba(175, 47, 47, 0.2);
    color: white;
}

.todolist .bottom .clear button {
    background-color: transparent;
    border: none;
    color: #777;
    padding: 10px 15px;
    cursor: pointer;
}

.loading {
    display: flex;
    background-color: white;
    padding: 40px;
    justify-content: center;
    font-size: 1.3em;
}